@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

} 
html, body{
    margin:0px !important;
    padding: 0px !important;
 }
/* body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
} */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 850px;
    margin-bottom: 40px;
    
}
.subheader{
    display: flex;
    gap: 50px  
}
.siteinfo{
    display: flex;
    flex-direction: column;
}

ul{
    list-style: none;
    display: flex;
    gap: 15px;
    
}
a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}
.secondary-text{
    font-size: 18px;
    color: #e5e7eb; 
    width: 400px;

}
.container{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;

}
.logo{
    font-size: 24px;
    color: #f9faf8;
}
.awesome-text{
    font-size: 48px;
    font-weight:800;
    color: #f9faf8;
    width: 350px;
}
.sgn-up-btn{
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    border: 1px solid #3882f6 ;
    padding: 8px 16px;
    width: 84px;
    height: auto;
  

}


.img-placeholder{
    font-size: 18px;
    color: #e5e7eb; 
    height: 214px;
    width: 400px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    text-align: center;
}
.infosection{
    display: flex;
    justify-content: center;
    gap: 35px;
}

.mid{
    height: 350px;
}
.info,
.info-img{
    max-width: 150px;
}
.info-img{
    border-radius: 15px;
}
.quote-text{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    width: 500px;
    text-align: center;
    color: #1F2937;
}
.quote{
    margin-left: 322px;
    font-weight: bold;
}

.feedback{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    justify-content: center;
    height: 350px;
}
.sign-up-box{
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    width: 650px;
    height: 100px;
    align-items: center;
    gap: 20px;
    border-radius: 5px;
}
.new-text{
    color: #e5e7eb;

}
.sign-up{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    
}
#bottom-sign-up{
    border: 1px solid #e5ebf3;
}
